VITE_LEGAL_NAME="Max Mustermann"
VITE_LEGAL_EMAIL="kontakt@example.com"
VITE_LEGAL_ADDRESS_LINE_1="Musterstraße 1"
VITE_LEGAL_ADDRESS_LINE_2="12345 Musterstadt"
VITE_LEGAL_COUNTRY="Deutschland"
VITE_LEGAL_CONTENT_RESPONSIBLE="Max Mustermann"
